In [1]:
import pandas as pd
import zipfile
with zipfile.ZipFile('I:\\Download\\Датасеты.zip', 'r') as zip_ref:
    zip_ref.extractall('I:\\Download')

In [2]:
groups = pd.read_csv('I:\\Download\\Датасеты\\groups.csv')
groups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27003 entries, 0 to 27002
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   уникальный номер                27003 non-null  int64
 1   направление 1                   27003 non-null  object
 2   направление 2                   27003 non-null  object
 3   направление 3                   27003 non-null  object
 4   адрес площадки                  27003 non-null  object
 5   округ площадки                  23021 non-null  object
 6   район площадки                  23021 non-null  object
 7   расписание в активных периодах  6522 non-null   object
 8   расписание в закрытых периодах  21643 non-null  object
 9   расписание в плановом периоде   67 non-null     object
dtypes: int64(1), object(9)
memory usage: 2.1+ MB

In [3]:
groups.head()

,уникальный номер,направление 1,направление 2,направление 3,адрес площадки,округ площадки,район площадки,расписание в активных периодах,расписание в закрытых периодах,расписание в плановом периоде
0,801357270,Физическая активность,ОФП,ОФП,"город Москва, Саратовская улица, дом 16, корпус 2",Юго-Восточный административный округ,муниципальный округ Текстильщики,NaN,"c 01.01.2023 по 31.03.2023, Пн., Ср. 19:10-20:...",NaN
1,801356857,Физическая активность,ОФП,ОФП,"город Москва, Подольская улица, дом 5",Юго-Восточный административный округ,муниципальный округ Марьино,NaN,"c 09.01.2023 по 31.03.2023, Вт., Чт. 10:00-11:...",NaN
2,801351684,Физическая активность,ОФП,ОФП,"г. Москва, Базовская улица, дом 15, строение 1...","Северный административный округ, Северный адми...","муниципальный округ Западное Дегунино, муницип...",NaN,"c 09.01.2023 по 31.03.2023, Вт., Чт. 19:00-20:...",NaN
3,801353683,Физическая активность,ОФП,ОФП,"город Москва, улица Обручева, дом 28А, город М...","Юго-Западный административный округ, Юго-Запад...","муниципальный округ Обручевский, муниципальный...",NaN,"c 09.01.2023 по 31.03.2023, Пн., Ср. 13:30-14:...",NaN
4,801352164,Физическая активность,ОФП,ОФП,"город Москва, Воронцовский парк, дом 3, город ...","Юго-Западный административный округ, Юго-Запад...","муниципальный округ Обручевский, муниципальный...",NaN,"c 10.01.2023 по 28.02.2023, Вт., Пт. 12:00-13:...",NaN

In [4]:
groups.isnull().sum()

уникальный номер                      0
направление 1                         0
направление 2                         0
направление 3                         0
адрес площадки                        0
округ площадки                     3982
район площадки                     3982
расписание в активных периодах    20481
расписание в закрытых периодах     5360
расписание в плановом периоде     26936
dtype: int64

In [5]:
groups['направление 3'].nunique()

456

In [6]:
users = pd.read_csv('I:\\Download\\Датасеты\\users.csv')
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52334 entries, 0 to 52333
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   уникальный номер            52334 non-null  int64
 1   дата создание личного дела  52334 non-null  object
 2   пол                         52334 non-null  object
 3   дата рождения               52334 non-null  object
 4   адрес проживания            52334 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.0+ MB

In [7]:
users.head()

,уникальный номер,дата создание личного дела,пол,дата рождения,адрес проживания
0,101391104,2019-02-26 15:52:09.000,Женщина,1959-09-10,"город москва, константинова, дом 30"
1,101437383,2022-09-14 13:46:41.079,Женщина,1958-06-29,"г. москва, большая серпуховская улица, дом 40,..."
2,101351338,2018-03-19 18:34:58.000,Женщина,1956-08-28,"город москва, летчика грицевца, дом 10"
3,101354578,2018-03-22 13:19:42.000,Женщина,1939-05-19,"город москва, лобачевского, дом 76"
4,101411997,2019-12-17 12:29:25.481,Женщина,1951-03-02,"г. москва, улица вертолётчиков, дом 13"

In [8]:
users.isnull().sum()

уникальный номер              0
дата создание личного дела    0
пол                           0
дата рождения                 0
адрес проживания              0
dtype: int64

In [9]:
attend = pd.read_csv('I:\\Download\\Датасеты\\attend.csv')
attend.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5901274 entries, 0 to 5901273
Data columns (total 9 columns):
 #   Column                      Dtype
---  ------                      -----
 0   уникальный номер занятия    int64
 1   уникальный номер группы     int64
 2   уникальный номер участника  int64
 3   направление 2               object
 4   направление 3               object
 5   онлайн/офлайн               object
 6   дата занятия                object
 7   время начала занятия        object
 8   время окончания занятия     object
dtypes: int64(3), object(6)
memory usage: 3.1 GB

In [10]:
attend.head()

,уникальный номер занятия,уникальный номер группы,уникальный номер участника,направление 2,направление 3,онлайн/офлайн,дата занятия,время начала занятия,время окончания занятия
0,401346550,801346550,101352023,ОНЛАЙН Гимнастика,ОНЛАЙН Цигун,Да,2022-08-01,09:00:00,10:00:00
1,401346550,801346550,101385462,ОНЛАЙН Гимнастика,ОНЛАЙН Цигун,Да,2022-08-01,09:00:00,10:00:00
2,401346550,801346550,101421897,ОНЛАЙН Гимнастика,ОНЛАЙН Цигун,Да,2022-08-01,09:00:00,10:00:00
3,401346550,801346550,101354499,ОНЛАЙН Гимнастика,ОНЛАЙН Цигун,Да,2022-08-01,09:00:00,10:00:00
4,401346550,801346550,101421312,ОНЛАЙН Гимнастика,ОНЛАЙН Цигун,Да,2022-08-01,09:00:00,10:00:00

In [11]:
attend.isnull().sum()

уникальный номер занятия      0
уникальный номер группы       0
уникальный номер участника    0
направление 2                 0
направление 3                 0
онлайн/офлайн                 0
дата занятия                  0
время начала занятия          0
время окончания занятия       0
dtype: int64

In [12]:
diction = pd.read_excel('I:\\Download\\Датасеты\\dict.xlsx')
diction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899 entries, 0 to 898
Data columns (total 10 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Разметка: Для ума/ Для души / Для тела  899 non-null    object
 1   id_level1                               899 non-null    int64
 2   level1                                  899 non-null    object
 3   id_level2                               899 non-null    int64
 4   level2                                  899 non-null    object
 5   id_level3                               899 non-null    int64
 6   leve3                                   899 non-null    object
 7   d_level1                                899 non-null    object
 8   d_level2                                0 non-null      float64
 9   d_level3                                0 non-null      float64
dtypes: float64(2), int64(3), object(5)
memory usage: 70.4+ KB

In [13]:
diction.head()

,Разметка: Для ума/ Для души / Для тела,id_level1,level1,id_level2,level2,id_level3,leve3,d_level1,d_level2,d_level3
0,Для ума,649,Игры,651,Интеллектуальные игры,1042,Иные интеллектуальные игры,"Занятия по изучению правил игр, основанных на ...",NaN,NaN
1,Для ума,649,Игры,651,Интеллектуальные игры,1040,Викторины,"Занятия по изучению правил игры, которая заклю...",NaN,NaN
2,Для ума,649,Игры,651,Интеллектуальные игры,1041,Квест,Занятия по изучению способов решений головолом...,NaN,NaN
3,Для ума,649,Игры,651,Интеллектуальные игры,1043,Брейн-ринг,"Занятия по изучению правил игры, в которой поб...",NaN,NaN
4,Для ума,649,Игры,650,Настольные игры,323,Современные настольные игры,"Занятия по изучению правил современных игр, ра...",NaN,NaN

In [14]:
diction.level2.unique()

array(['Интеллектуальные игры', 'Настольные игры',
       'ОНЛАЙН Интеллектуальные игры', 'ОНЛАЙН Настольные игры',
       'ОНЛАЙН Шахматы и шашки', 'Шахматы и шашки', 'Английский язык',
       'Здорово жить', 'Иностранные языки', 'Информационные технологии',
       'История, искусство, краеведение', 'Киберспорт',
       'ОНЛАЙН Английский язык', 'ОНЛАЙН Здорово жить',
       'ОНЛАЙН Иностранные языки', 'ОНЛАЙН Информационные технологии',
       'ОНЛАЙН История, искусство, краеведение', 'ОНЛАЙН Киберспорт',
       'ОНЛАЙН Образовательный практикум', 'ОНЛАЙН Пеший лекторий',
       'ОНЛАЙН Психология и коммуникации',
       'ОНЛАЙН Финансовая и правовая грамотность, личная безопасность',
       'ОНЛАЙН Экология жизни', 'Образовательный практикум',
       'Пеший лекторий', 'Психология и коммуникации',
       'Финансовая и правовая грамотность, личная безопасность',
       'Экология жизни', 'ОНЛАЙН Пение', 'Пение', 'ОНЛАЙН Рисование',
       'Рисование', 'Интеллектуальный клуб. Домоводство',
       'Интеллектуальный клуб. Здоровье/красота/стиль',
       'Интеллектуальный клуб. Иностранные языки',
       'Интеллектуальный клуб. Информационные технологии',
       'Интеллектуальный клуб. История/Искусство',
       'Интеллектуальный клуб. Клубная работа',
       'Интеллектуальный клуб. Образовательный практикум',
       'Интеллектуальный клуб. Проф/подготовка',
       'Интеллектуальный клуб. Психологические тренинги',
       'Интеллектуальный клуб. Творческие мастерские',
       'ОНЛАЙН Интеллектуальный клуб. Домоводство',
       'ОНЛАЙН Интеллектуальный клуб. Здоровье/красота/стиль',
       'ОНЛАЙН Интеллектуальный клуб. Иностранные языки',
       'ОНЛАЙН Интеллектуальный клуб. Информационные технологии',
       'ОНЛАЙН Интеллектуальный клуб. История/Искусство',
       'ОНЛАЙН Интеллектуальный клуб. Клубная работа',
       'ОНЛАЙН Интеллектуальный клуб. Образовательный практикум',
       'ОНЛАЙН Интеллектуальный клуб. Проф/подготовка',
       'ОНЛАЙН Интеллектуальный клуб. Психологические тренинги',
       'ОНЛАЙН Интеллектуальный клуб. Творческие мастерские',
       'Московский театрал', 'ОНЛАЙН Московский театрал',
       'ОНЛАЙН Серебряный университет', 'Серебряный университет',
       'Тренировки долголетия (спецпроект по медицинской реабилитации)',
       'ОНЛАЙН Танцы', 'Танцы', 'Домоводство', 'Красота и стиль',
       'Литература', 'Музыка, фольклор', 'ОНЛАЙН Домоводство',
       'ОНЛАЙН Красота и стиль', 'ОНЛАЙН Литература',
       'ОНЛАЙН Музыка, фольклор', 'ОНЛАЙН Фото/видео',
       'ОНЛАЙН Художественно-прикладное творчество', 'Фото/видео',
       'Художественно-прикладное творчество', 'Борьба', 'Велоспорт',
       'ГТО', 'Гимнастика', 'Коньки', 'Лыжи', 'ОНЛАЙН Гимнастика',
       'ОНЛАЙН ОФП', 'ОФП', 'Скандинавская ходьба', 'Спортивные игры',
       'Фитнес, тренажеры'], dtype=object)

In [15]:
test = pd.read_csv('I:\\Download\\Датасеты\\test.csv')
test.head()

   уникальный номер участника  уникальный номер группы
0                   101346610                      NaN
1                   101346612                      NaN
2                   101347269                      NaN
3                   101347321                      NaN
4                   101347983                      NaN

In [16]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   уникальный номер участника  200 non-null    int64
 1   уникальный номер группы     0 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 3.2 KB